In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
wdi = pd.read_csv("wdi.csv")

In [3]:
internet = wdi[wdi["Indicator Code"] == "IT.NET.USER.ZS"]
electricity = wdi[wdi["Indicator Code"] == "EG.ELC.ACCS.ZS"]
mobile = wdi[wdi["Indicator Code"] == "IT.CEL.SETS"]
securei = wdi[wdi["Indicator Code"] == "IT.NET.SECR"]
gdp = wdi[wdi["Indicator Code"] == "NY.GDP.PCAP.CD"]

In [4]:
wdi_2 = gdp.append(electricity).append(internet).append(securei).append(mobile)
wdi_2 = pd.DataFrame(wdi_2)

In [5]:
vn_2 = wdi_2[wdi_2["Country Code"] == "VNM"]
ind = wdi_2[wdi_2["Country Code"] == "IND"]
mmr = wdi_2[wdi_2["Country Code"] == "MMR"]
eth = wdi_2[wdi_2["Country Code"] == "ETH"]
syr = wdi_2[wdi_2["Country Code"] == "SYR"]
bgd = wdi_2[wdi_2["Country Code"] == "BGD"]
lka = wdi_2[wdi_2["Country Code"] == "LKA"]

In [28]:
countries = [vn_2, ind, mmr, eth, syr, bgd, lka]

countries_result = []

for country in countries:
   countries_result.append(country.drop(columns = ['Country Name', 'Country Code', 'Indicator Code']))



countries_result[0]

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
413066,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.210691e+03,1.310370e+03,1.515480e+03,1.722684e+03,1.871325e+03,2.012046e+03,2.065169e+03,2.170648e+03,2.342244e+03,NaN
412545,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.610000e+01,9.759113e+01,9.900000e+01,1.000000e+02,1.000000e+02,9.920000e+01,1.000000e+02,1.000000e+02,NaN,NaN
413209,Individuals using the Internet (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.655000e+01,3.065000e+01,3.507000e+01,3.680000e+01,3.850000e+01,4.100000e+01,4.350000e+01,4.650000e+01,NaN,NaN
413930,Secure Internet servers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.020000e+02,3.270000e+02,8.120000e+02,1.286000e+03,1.864000e+03,3.033000e+03,2.609800e+04,1.275840e+05,169056.0
413390,Mobile cellular subscriptions,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,9.822398e+07,1.115702e+08,1.273180e+08,1.316737e+08,1.237356e+08,1.361481e+08,1.203241e+08,1.206002e+08,1.200162e+08,NaN

In [10]:

countries = [vn_2, ind, mmr, eth, syr, bgd, lka]
years = ["2010", "2011", "2012", "2013", "2014", "2015", "2016"]


for country in countries:
    country = country.drop(columns = ['Country Name', 'Country Code', 'Indicator Code'])

In [14]:
vn_2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
413066,Vietnam,VNM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.210691e+03,1.310370e+03,1.515480e+03,1.722684e+03,1.871325e+03,2.012046e+03,2.065169e+03,2.170648e+03,2.342244e+03,NaN
412545,Vietnam,VNM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.610000e+01,9.759113e+01,9.900000e+01,1.000000e+02,1.000000e+02,9.920000e+01,1.000000e+02,1.000000e+02,NaN,NaN
413209,Vietnam,VNM,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.655000e+01,3.065000e+01,3.507000e+01,3.680000e+01,3.850000e+01,4.100000e+01,4.350000e+01,4.650000e+01,NaN,NaN
413930,Vietnam,VNM,Secure Internet servers,IT.NET.SECR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.020000e+02,3.270000e+02,8.120000e+02,1.286000e+03,1.864000e+03,3.033000e+03,2.609800e+04,1.275840e+05,169056.0
413390,Vietnam,VNM,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,9.822398e+07,1.115702e+08,1.273180e+08,1.316737e+08,1.237356e+08,1.361481e+08,1.203241e+08,1.206002e+08,1.200162e+08,NaN

In [ ]:
for country in countrylist:
    country = pd.DataFrame(country)

In [ ]:
for country in countrylist:
    country = country.transpose()

In [26]:
ind

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
217988,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,81.284764,84.426437,88.914919,100.048592,114.315161,118.063382,...,1.090318e+03,1.345770e+03,1.461672e+03,1.446985e+03,1.452195e+03,1.576004e+03,1.606038e+03,1.717474e+03,1.942097e+03,NaN
217467,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.500000e+01,7.630000e+01,6.760000e+01,7.990000e+01,7.959911e+01,8.123951e+01,8.800000e+01,8.452682e+01,NaN,NaN
218131,India,IND,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.120000e+00,7.500000e+00,1.007000e+01,1.258006e+01,1.510000e+01,2.100000e+01,2.600000e+01,2.954716e+01,NaN,NaN
218852,India,IND,Secure Internet servers,IT.NET.SECR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.061000e+03,2.842000e+03,5.704000e+03,7.880000e+03,1.094100e+04,1.531300e+04,5.072300e+04,1.647910e+05,254032.0
218312,India,IND,Mobile cellular subscriptions,IT.CEL.SETS,0.000000,NaN,NaN,NaN,NaN,0.000000,...,5.250900e+08,7.521900e+08,8.938625e+08,8.647209e+08,8.863042e+08,9.440087e+08,1.001056e+09,1.127809e+09,1.168902e+09,NaN

In [ ]:

    x = x[['Year','GDP Per Capita',
 'Access to electricity (% of population)',
 'Individuals using the Internet (% of population)',
 'Secure Internet servers',
 'Mobile cellular subscriptions',]],
    x = x.reset_index(drop=True),
    x = x.astype(float),

In [ ]:
ind